body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* top-banner */
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    display: flex;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* dream-big */
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}