body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* top-banner */
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flex-sec{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* dream-big */
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* experience */
.experience{
    text-align: center;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h2{
    font-size: 40px;
}
.shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
}
#border-orange{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#border-blue{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
/* footer */
footer{
    text-align: center;
}